body {
  background-color: #e5e5e5;
  font-family: Roboto, sans-serif;
}
/*.....LOGO....*/
.logo-head {
  font-family: Raleway, sans-serif;
  font-size: 1.2;
  color: #212121;
  text-decoration: none;
}

/*..........HEADER......*/
.filter,
button {
  font-family: Roboto, sans-serif;
  font-style: Medium;
  font-size: 1.6;
  line-height: 1;
  letter-spacing: 0.03em;
  font-weight: 500;
  text-align: center;
}

button:hover,
button:focus,
button:active {
  color: #2196f3;
}

.page-navigation {
  font-family: Roboto, sans-serif;
  font-size: 1.6;
  line-height: 1;
  letter-spacing: 0.03em;
  color: #212121;
}

.page-navigation {
  text-decoration: none;
}

.contacts {
  color: #757575;
  font-size: 1.14;
  line-height: 1;
  letter-spacing: 0.02em;
}

.contacts a {
  text-decoration: none;
}

.contacts:hover,
.contacts:focus {
  color: #2196f3;
}

/*........MAIN.....*/

ul,
h2 {
  color: #212121;
  list-style-type: none;
  font-weight: 700;
  font-size: 2;
  font-style: bold;
  line-height: 1.71;
  letter-spacing: 0.06em;
}

img {
  height: 294px;
  width: 370px;
  left: 215px;
  top: 262px;
}

.categories {
  color: #757575;
  font-family: Roboto, sans-serif;
  font-style: Regular;
  font-size: 1.5;
  line-height: 1;
  letter-spacing: 0.03em;
}

ul a:hover,
ul a:focus {
  color: #2196f3;
}

/*........FOOTER.........*/

.logo-footer {
  font-family: Raleway, sans-serif;
  font-size: 1.2;
  color: #ffffff;
}

footer {
  background-color: #2f303a;
  font-style: regular;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 1.7;
  line-height: 1.46;
  letter-spacing: 0.03em;
}

address > p {
  color: #ffffff;
}

address > a {
  color: rgba(255, 255, 255, 0.6);
}

address > p:hover,
address > p:focus,
.contacts-footer:focus,
.contacts-footer:hover {
  color: #2196f3;
}
