body {
  background-color: #e5e5e5;
}
.page-navigation {
    Font family: Roboto;
Font style: Medium;
Font size: 16px;
Line height: 26px;
Line height: 139%;
Vertical align: Top;
Letter spacing: 3%;
}

.page-navigation:hover,
.page-navigation:focus {
  color: #2196f3;
}
.contacts:hover,
.contacts:focus {
  color: #2196f3;
}
address:hover,
address:focus {
  color: #2196f3;
}
